.header {
  width: 100%;
  max-width: 1440px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.company-logo {
  display: flex;
  width: 168px;
  height: 48px;
  align-items: center;
  gap: 5.018px;
  flex-shrink: 0;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 16px;
}
